.message
  .message-box グループを作成しました
.layout
  .layout__dashboard
    .dashboard
      .dashboard__header
        .dashboard__name wakugami
        %ul.dashboard__iconWrap
          %li.dashboard__edit
            = link_to do
              %i.fa.fa-edit

          %li.dashbord__setting
            = link_to do
              %i.fa.fa-cog

      .dashboard__body
        %ul.dashboard__groupWrap
          %li.dashboard__group
            = link_to do
              .dashboard__groupName sample1
              .dashboard__groupNewComment Good bye work
          %li.dashboard__group
            = link_to do
              .dashboard__groupName sample2
          %li.dashboard__group
            = link_to do
              .dashboard__groupName example
              .dashboard__groupNewComment まだメッセージがありません
  .layout__timeline
    .timeline
      .timeline__header
        .timeline__groupWrap
          .timeline__groupName Sample
          .timeline__membersName
            Member：
            - @group.users.each do |group_member|
              %div #{group_member.name}&nbsp;
        = link_to edit_group_path(@group[:id]), class: "timeline__editBtn " do
          Edit
      .timeline__body#test
        %ul#message
          = render @messages

      .timeline__footer
        .form
          = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            .form__mask
              = f.label :image, class: 'form__mask__image' do
                = fa_icon 'picture-o', class: 'icon'
                = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'form__submit', id: 'submitBtn'
