.message
  .message-box グループを作成しました
.layout
  .layout__dashboard
    .dashboard
      = render 'shared/side_bar'
  .layout__timeline
    .timeline
      .timeline__header
        .timeline__groupWrap
          .timeline__groupName #{@group.name}
          .timeline__membersName
            Member：
            - @group.users.each do |group_member|
              %div #{group_member.name}&nbsp;
        = link_to edit_group_path(@group[:id]), class: "timeline__editBtn " do
          Edit
      .timeline__body#test
        %ul#message
          = render @messages

      .timeline__footer
        .form
          = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            .form__mask
              = f.label :image, class: 'form__mask__image' do
                = fa_icon 'picture-o', class: 'icon'
                = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'form__submit', id: 'submitBtn'
